<h1>Entrer votre nouvelle course</h1>
<form (ngSubmit)="onSubmit()">
  <label for="location">Localisation</label>
  <input type="text" name="location" id="location" [(ngModel)]="newRace.location" >

  <label for="date">Date</label>
  <input type="date" name="date" id="date" [(ngModel)]="newRace.date">

  <div *ngFor="let p of allPonies; let i= index">
    {{p.name}}
    <input type="checkbox" name="{{p.name}}" (change)="poniesBool[i] =!poniesBool[i]">
  </div>

  <button type="submit">Enregistrer</button>
</form>
