<h1 *ngIf="add" class="mat-h1" >Entrer votre nouvelle course</h1>
<h1 *ngIf="!add" class="mat-h1">Mettre à jours votre course</h1>
<form (ngSubmit)="onSubmit()">
  <label for="location">Localisation</label>
  <input type="text" name="location" id="location" [(ngModel)]="newRace.location" >

  <label for="date">Date</label>
  <input type="date" name="date" id="date" [(ngModel)]="newRace.date">

  <div *ngFor="let p of allPonies; let i= index">
    <mat-checkbox name="{{p.name}}" (change)="poniesBool[i] =! poniesBool[i]">{{p.name}}</mat-checkbox>
  </div>

  <button *ngIf="add" type="submit">Enregistrer</button>
  <button *ngIf="!add" type="submit">Mettre à jours</button>
</form>
