<!--<nav>-->
<!--  <a routerLink="">Poney</a>-->
<!--  <a routerLink="add-pony" *ngIf="!connect">Add ponies</a>-->
<!--  <a routerLink="races">Race</a>-->
<!--  <a routerLink="add-race" *ngIf="!connect">Add race</a>-->
<!--  <form (ngSubmit)="onSubmit()">-->
<!--    <input type="text" name="userName" [(ngModel)]="userName" [hidden]="!connect">-->
<!--    <button *ngIf="connect" type="submit">Ok</button>-->
<!--    <button *ngIf="!connect" type="submit">OUT</button>-->
<!--  </form>-->
<!--  <p [hidden]="connect">{{userName}}</p>-->

<!--</nav>-->

<button mat-button [matMenuTriggerFor]="poneyMenu">Poney</button>
<mat-menu #poneyMenu="matMenu" xPosition="before">
  <button mat-menu-item routerLink="">See ponies</button>
  <button mat-menu-item routerLink="add-pony" *ngIf="!connect">Add ponies</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="raceMenu">Race</button>
<mat-menu #raceMenu="matMenu" xPosition="before">
  <button mat-menu-item routerLink="races">See races</button>
  <button mat-menu-item routerLink="add-races" *ngIf="!connect">Add race</button>
</mat-menu>

<form>
  <mat-form-field appearance="fill">
    <mat-label>userName</mat-label>
    <input matInput [(ngModel)]="userName" [hidden]="!connect">
    <button mat-raised-button color="primary" *ngIf="connect">Connexion</button>
    <button mat-raised-button color="warn" *ngIf="!connect">Disconnect</button>
  </mat-form-field>
</form>

<p [hidden]="connect">{{userName}}</p>
