<nav>
  <button mat-button [matMenuTriggerFor]="aboveMenu">Pony</button>
  <mat-menu #aboveMenu="matMenu" yPosition="above">
    <button mat-menu-item routerLink="">Poney</button>
    <button mat-menu-item routerLink="add-pony">Add Ponies</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="belowMenu">Race</button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item routerLink="races">Race</button>
    <button mat-menu-item routerLink="add-race">Add Race</button>
  </mat-menu>

</nav>
