<h1 *ngIf="add">Entrer votre nouveau poney</h1>
<h1 *ngIf="!add">Mettre à jour votre nouveau poney</h1>
<form (ngSubmit)="onSubmit()">
  <label for="name">Nom</label>
  <input id="name" name="name" type="text" [(ngModel)]="newPony.name">

  <br>

  <label for="couleur">Couleur</label>
  <input type="text" id="couleur" name="couleur"  [(ngModel)]="newPony.color">

  <br>

  <label for="age">Âge</label>
  <input type="text" id="age" name="age"  [(ngModel)]="newPony.age">

  <button *ngIf="add" type="submit">Enregistrer</button>
  <button *ngIf="!add" type="submit">Mettre à jours</button>
</form>
